# Tasks notebook
***

## Task 1 - Square roots (Newton's method)
Newton's formula from https://math.mit.edu/~stevenj/18.335/newton-sqrt.pdf (page 1).

In [1]:
def sqrt (x):
    n = x 
    while (float(x > 0)) :
        
        #Newton's formula    
        root = 0.5 * (n + (x / n))

        #calculate until the difference 
        #between the root and n is less than 0.01
        if abs(root - n) < 0.01:
            break 
        
        #Returns the last calculated number for n
        n = root
    
    return root

In [2]:
#test
sqrt(4)

2.0000000929222947

## Task 2

In [10]:
#import modules
import numpy as np
import scipy.stats as ss

**Null hypotesis:** There is evidence of an association between drink preference and biscuit preference.

In [11]:
#create array
table = np.array([[43, 57], [56, 45]])

#do the statistics
result = ss.chi2_contingency(table, correction=False)

#show pvalue
result.pvalue

0.07762509678333357

With a significance level of 5%, an observed pvalue of ~7.8% would suggest that we accept the null hypotesis that there is evidence of association between drink and biscuit preferences.

## Task 3

In [1]:
#import modules
import pandas as pd

In [3]:
#read dataset
df=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
df.head

<bound method NDFrame.head of     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]>

In [4]:
#selecting columns
df=df[['species','body_mass_g','sex']]
df.head

<bound method NDFrame.head of     species  body_mass_g     sex
0    Adelie       3750.0    MALE
1    Adelie       3800.0  FEMALE
2    Adelie       3250.0  FEMALE
3    Adelie          NaN     NaN
4    Adelie       3450.0  FEMALE
..      ...          ...     ...
339  Gentoo          NaN     NaN
340  Gentoo       4850.0  FEMALE
341  Gentoo       5750.0    MALE
342  Gentoo       5200.0  FEMALE
343  Gentoo       5400.0    MALE

[344 rows x 3 columns]>

In [7]:
#filtering only gentoo
gentoo = df.loc[df['species']=='Gentoo']
gentoo

    species  body_mass_g     sex
220  Gentoo       4500.0  FEMALE
221  Gentoo       5700.0    MALE
222  Gentoo       4450.0  FEMALE
223  Gentoo       5700.0    MALE
224  Gentoo       5400.0    MALE
..      ...          ...     ...
339  Gentoo          NaN     NaN
340  Gentoo       4850.0  FEMALE
341  Gentoo       5750.0    MALE
342  Gentoo       5200.0  FEMALE
343  Gentoo       5400.0    MALE

[124 rows x 3 columns]

In [15]:
#male body mass
sample_a = gentoo[gentoo['sex'] == 'MALE']['body_mass_g'].to_numpy()

sample_a

array([5700., 5700., 5400., 5200., 5150., 5550., 5850., 5850., 6300.,
       5350., 5700., 5050., 5100., 5650., 5550., 5250., 6050., 5400.,
       5250., 5350., 5700., 4750., 5550., 5400., 5300., 5300., 5000.,
       5050., 5000., 5550., 5300., 5650., 5700., 5800., 5550., 5000.,
       5100., 5800., 6000., 5950., 5450., 5350., 5600., 5300., 5550.,
       5400., 5650., 5200., 4925., 5250., 5600., 5500., 5500., 5500.,
       5500., 5950., 5500., 5850., 6000., 5750., 5400.])

In [16]:
#female body mass
sample_b = gentoo[gentoo['sex'] == 'FEMALE']['body_mass_g'].to_numpy()

sample_b

array([4500., 4450., 4550., 4800., 4400., 4650., 4650., 4200., 4150.,
       4800., 5000., 4400., 5000., 4600., 4700., 5050., 5150., 4950.,
       4350., 3950., 4300., 4900., 4200., 5100., 4850., 4400., 4900.,
       4300., 4450., 4200., 4400., 4700., 4700., 4750., 5200., 4700.,
       4600., 4750., 4625., 4725., 4750., 4600., 4875., 4950., 4750.,
       4850., 4875., 4625., 4850., 4975., 4700., 4575., 5000., 4650.,
       4375., 4925., 4850., 5200.])

In [17]:
# t-test
ss.ttest_ind(sample_a, sample_b)

Ttest_indResult(statistic=14.721676481405709, pvalue=2.133687602018886e-28)

T-test result provides evidence that there is a significant difference in body mass of male and female Gentoo penguins. The low pvalue indicates that the mean values of body mass for males and females are highly unlikely to coincide, which invalidates the null hypotesis that males and females are indistinguishable by body mass.